<!DOCTYPE html>
<html lang="en">
<head>
  <title>Library</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h3>Welcome to the Library!</h3>

        <p>Take a look at our <a href="/books"><button class="btn btn-warning btn-xs">books</button></a></p>
        <p>Here are our available <a href="/authors"><button class="btn btn-success btn-xs">authors</button></a></p>

        <p>Search by Author: </p>


    </div>
</body>
</html>
